@font-face {
  font-family: figtree-light;
  src: url("./Fonts/Figtree-Light.ttf");
}
@font-face {
  font-family: figtree-regular;
  src: url("./Fonts/Figtree-Regular.ttf");
}
@font-face {
  font-family: figtree-black;
  src: url("./Fonts/Figtree-Black.ttf");
}
@font-face {
  font-family: figtree-bold;
  src: url("./Fonts/Figtree-Bold.ttf");
}

/* HEADER SECTION */
header {
  /* background-color: #85c224; */
  margin-top: 0px;
}

.location-login-header-container {
  display: flex;
  justify-content: end;
  /* background-color: antiquewhite; */
}

.location-login-header-detail {
  font-family: "figtree-light";
  color: #666666;
  font-weight: lighter;
  font-size: 10px;
  padding: 5px;
}

.location-login-header-detail:hover {
  color: #85cc22;
}

/* HEADER CONTAINER */
.header-container {
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: #009966; */
}

/* HEADER GRID */
.grid-row0 {
  display: grid;
  grid-template-columns: 98% 2%;
  /* background-color: #537368; */
}
.grid-row1 {
  display: grid;
  grid-template-columns: 20% 65% 15%;
}

/* HEADER SEARCH BAR */
.header-search-bar-input {
  width: 70%;
  height: 25px;
  outline: auto;
  outline-color: #dedede;
  margin: 0px;
  margin-top: 13%;
}

.header-search-bar-button {
  /* width: 10%; */
  background-color: #85cc22;
  border: 0.5px #85cc22 solid;
  margin: 0px;
  height: 30px;
}

/* HEADER CART */
.header-cart-grid-row {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 13px;
  font-family: "figtree-regular";
  font-size: 14px;
  letter-spacing: normal;
  background-color: #f2f2f2;
  margin-top: 10%;
}

.grid-row2 {
  display: grid;
  grid-template-columns: 20% 80%;
}

.header-category-dropdown-input {
  color: #ffffff;
  background-color: #85cc22;
  height: 30px;
  border: none;
}

.header-offer-tag {
  font-family: "figtree-regular";
  font-size: 17px;
  letter-spacing: normal;
  padding-left: 10px;
}

body {
  /* margin-left: 5%;
    margin-right: 5%; */
  /* background-color: antiquewhite; */
}

a {
  color: #3333339f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #85cc22;
  /* background-color: transparent; */
  text-decoration: none;
}

hr {
  background-color: #cec6c6;
  border: 0.3px #dedede solid;
}

.main-section {
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: antiquewhite; */
}

.section-title {
  text-align: center;
  border-bottom: 1.2px #dedede solid;
  font-family: "figtree-light";
  font-size: 24px;
  letter-spacing: normal;
  color: #444444e9;
}

.section-title-showmore {
  text-align: center;
  /* border-bottom: 1.2px #dedede solid; */
  font-family: "figtree-light";
  font-weight: 600;
  font-size: 24px;
  letter-spacing: normal;
  color: #444444e9;
  /* font-size: x-large; */
  margin-left: 45%;
  margin-right: 30%;
}

.show-more {
  background-color: #85c224;
  display: inline-block;
  color: azure;
  padding: 4px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "figtree-regular";
  /* margin-left: a; */
  /* position: absolute;
    top: 0; */
  /* bottom: 0; */
  /* display: inline-flex; */
  /* margin:auto; */
}

/* CATEGORY CARDS SECTION */
.category-cards-container {
  display: flex;
  /* background-color: antiquewhite; */
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.category-cards-item1,
.category-cards-item2,
.category-cards-item3,
.category-cards-item4,
.category-cards-item5,
.category-cards-item6 {
  /* flex-shrink: 400px; */
  flex-basis: 10%;
}

/* MY SMART BASKET SECTION */
.my-smart-basket-container {
  display: flex;
  justify-content: space-evenly;
}

.my-smart-basket-card1,
.my-smart-basket-card2,
.my-smart-basket-card3,
.my-smart-basket-card4,
.my-smart-basket-card5,
.my-smart-basket-card6 {
  margin-left: 1%;
  width: 550px;
}

.card {
  /* background-color: #666666; */
  /* border: 1px #66666629 solid; */
  outline: auto;
  outline-color: #f4f3f2;
  padding: 15px;
  margin: 2px;
}
.card:hover {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}
.card-offer {
  font-family: "figtree-regular";
  font-weight: 700;
  color: #ba5253;
  font-size: 10px;
  text-align: end;
  background-color: #ffffff95;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0.2px;
  padding-bottom: 0.1px;
  /* padding: 2px 8px; */
  /* border: 1px #6666666c solid; */
  box-shadow: 1px 2px 26px -3px rgba(214, 214, 214, 0.56);
  outline: auto;
  outline-color: #f4f3f2;
}

select {
  width: 100%;
}

.mrp-title {
  color: #666666;
  font-size: 11px;
  font-family: "figtree-regular";
  font-weight: 800;
}

.mrp {
  text-decoration: line-through;
  color: #6e6e71;
  font-size: 10px;
}

.final-price {
  color: #231f20;
  font-size: 14px;
  font-family: "figtree-bold";
}

.delivery-eta {
  color: #333333;
  font-size: 10px;
  font-family: "figtree-regular";
  font-weight: 400;
}

.delivery-eta-icon {
  font-size: 15px;
  display: inline-block;
  color: #666666b7;
  width: 24px;
}

.card-footer {
  background-color: #231f20;
}

.card-vendor-name {
  color: #999999;
  font-size: 11px;
  font-family: "figtree-regular";
}

.card-product-name {
  font-size: 14px;
  margin-bottom: 30px;
  font-family: "figtree-regular";
  font-weight: 700;
  color: #4f4e4e;
}
.card-product-name:hover {
  color: #009966;
}

.quantity-container {
  display: flex;
}

.quantity-title {
  color: #999999;
  background-color: #eeeeee;
  width: fit-content;
  padding: 0px 4px;
  border-radius: 5px 0px 0px 5px;
}

.quantity-input input {
  border-radius: 0px 5px 5px 0px;
  border: 1.2px #999999 solid;
  width: 30px;
  text-align: center;
  background-color: #ffffff;
}

.add-button {
  background-color: #f9dc79;
  padding: 2px 20px;
  border: 0px;
  border-radius: 5px;
  /* width: 40px; */
  font-family: "figtree-regular";
  font-size: 10px;
}

/* DIWALI BANNER SECTION */

.banner-container {
  /* background-color: antiquewhite; */
  /* margin-left: 3%;
    margin-right: 3%; */
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

/* BANK OFFERS SECTION */

.bank-offers-container {
  /* margin-left:20px;
    margin-right: 50px; */
  margin-left: 3%;
  margin-right: 3%;
  /* background-color: antiquewhite; */
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.bank-offer-1,
.bank-offer-2,
.bank-offer-3,
.bank-offer-4 {
  flex-basis: 10%;
}

/* BEST SELLERS SECTION */
.best-sellers-title,
.my-smart-basket-title {
  margin-top: 30px;
}

.best-seller-container {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

/* TOP OFFERS SECTION */
.top-offers-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.top-offers-item1,
.top-offers-item2,
.top-offers-item3,
.top-offers-item4 {
  flex-basis: 10%;
}

/* FRUITS AND VEGETABLES SECTION */
.fruits-and-vegetables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* YOUR DAILY STAPLES SECTION */
.your-daily-staples-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* BEVERAGES SECTION */

.beverages-grid-row {
  display: grid;
  grid-template-columns: 50% 50%;
}
.beverages-item1 img {
  width: 100%;
}

.beverages-grid-col2 {
  display: flex;
  /* background-color: #009966; */
  flex-wrap: wrap;
}

.beverages-item2,
.beverages-item3,
.beverages-item4,
.beverages-item5 {
  width: 50%;
}

.beverages-item2 img,
.beverages-item3 img,
.beverages-item4 img,
.beverages-item5 img {
  width: auto;
}

/* .beverages-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

/* .beverages-inner-container {
  display: flex; 
  flex: 50%;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: antiquewhite;
   flex-direction: row;
} */

/* .beverages-item1{
    flex: 3;
    
}

.beverages-item2,
.beverages-item3,
.beverages-item4{
    flex: 1;
    
} */

/* SNACKS STORE SECTION */
.snacks-store-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* CLEANING AND HOUSEHOLD SECTION */
.cleaning-and-household-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* BEAUTY AND HYGEINE SECTION */
.beauty-and-hygeine-grid-row {
  display: grid;
  grid-template-columns: 50% 50%;
}
.beauty-and-hygeine-item1 img {
  width: 100%;
}

.beauty-and-hygeine-grid-col2 {
  display: flex;
  /* background-color: #009966; */
  flex-wrap: wrap;
}

.beauty-and-hygeine-item2,
.beauty-and-hygeine-item3,
.beauty-and-hygeine-item4,
.beauty-and-hygeine-item5 {
  width: 50%;
}

.beauty-and-hygeine-item2 img,
.beauty-and-hygeine-item3 img,
.beauty-and-hygeine-item4 img,
.beauty-and-hygeine-item5 img {
  width: auto;
}

/* .beauty-and-hygeine-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

/* HOME AND KITCHEN ESSENTIALS SECTION */
.home-and-kitchen-essentials-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* BRANDS STORE */
.brand-store-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
}

/* BIGBASKET DETAILED  DESCRIPTION */
.bigbasket-detailed-description-container {
  outline: auto;
  outline-color: #333333;
  padding: 19px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bigbasket-detailed-description-container h2,
.bigbasket-detailed-description-container h3 {
  font-family: "figtree-regular";
}

.bigbasket-detailed-description-container p,
.bigbasket-detailed-description-container li {
  color: #333333;
  font-family: "figtree-regular";
}

.bigbasket-detailed-description-container span {
  color: #85cc22;
  font-family: "figtree-regular";
}

/* FOOTER NAV LINKS */
.footer-nav-links-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.footer-nav-heading {
  color: #85cc22;
}

.footer-nav-links-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Figtree-regular";
  font-size: 14px;
}
.footer-nav-links-inner-container a {
  margin-top: 10px;
}

/* FOOTER SOCIAL MEDIA ICONS */
ul.social {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

ul.social > li {
  display: inline-block;
}

ul.social > li > a {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border-radius: 36px;
  background-color: #222222;
  color: #fff;
  margin: 0 3px 3px 0;
}

ul.social > li > a:hover {
  text-decoration: none;
  background-color: #85cc22;
}

/* .social-nav-link-icons i{
    display: inline-block;
    background-color: #3B5897;
    border-radius: 100%;
    width: 21px;
    height: 20px;
    padding: 5px;
    text-align: center;
  }

  .social-nav-link-icons:hover{
    display: inline-block;
    border-radius: 100%;
    width: 21px;
    height: 20px;
    padding: 5px;
    text-align: center;
        background-color: #f5f5f5;
  } */

/* FOOTER DESCRIPTION SECTION */
.footer-description-grid-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.footer-description-side-heading {
  font-family: "Figtree-regular";
  font-size: 14px;
  color: #6cd138;
  text-transform: capitalize;
}

.footer-description-grid-item {
  font-family: "Figtree-regular";
  font-size: 14px;
}
.footer-description-grid-item:hover {
  color: #009966;
}

.footer-description-grid-item i {
  padding: 5px;
}

/* COPYRIGHT SECTION */
.copyright {
  background-color: #eaeaea;
  padding: 10px;
  padding-left: 150px;
  /* margin-bottom: 0px; */
  font-family: "Figtree-regular";
  font-size: 14px;
  color: #919191;
}


/* CAROUSEL STYLING STARTS HERE */
.carousel {
    position: relative;
  }
  
  .carousel__item {
    width: "1280px";
    height: "460px";
    /* background: grey; */
    /* padding: 1em; */
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    display: none;
  }
  
  .carousel__item--selected {
    display: block;
  }
  
  .carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /* background: red; */
    text-align: center;
  }
  
  .carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(68, 67, 67, 0.881);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .carousel__button--selected {
    background: #c0f970;
  }
  
  /* ***CAROUSEL STYLING ENDS HERE*** */